*, html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0px;
}ul {
     list-style-type: none;
     margin: 0 10% 0 10%;
     padding: 0;
     overflow: hidden;
     background-size: cover;
 }
li {float:left;
}
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    background-size: cover;
}

li a:hover {
    background-color: rgb(114, 11, 11);
}

h1 {
    text-align: center;
}
.midter-div {
    margin: 0 10% 0 10%;
}
#smal-midterdiv {
    margin: 0 30% 0 30%;
}

#login-div {
    text-align: center;
    border: 1px solid black;
}

.pink {
    background: rgba(255,10,10,0.2);;
}
.morepink {
    background: rgba(255,10,10,0.7);;
}

footer{
    bottom: 0;
    background-color: rgba(255,2555,255,0.3);
    left: 0;
    height: 100px;
    overflow: auto;
    margin: 0 10% 0 10%;
}

.footer-text{
    text-align: center;
    height: auto;
    padding: 10px;
    margin: 2px;
}
 tr {
    display: block; float: left;
}
th, td {
    display: block;
}

