<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Wishlist for you!</title>
</head>
<body>
<h1>Create User</h1>

<form action="/mypage" method="post">
    <label for="email">E-Mail:</label><br>
    <input type="text" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <button type="submit">Submit</button>
</form>
<h2> LOGIN </h2>
<form action="/login" method="post">
    <label for="email">E-Mail:</label><br>
    <input type="text" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <button type="submit">Submit</button>
</form>



</body>
</html>