<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="index.css">
    <meta name="description" content="Wishing-list website">
    <meta name="keywords" content="wishing, share wishes, friends and family">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, Veronica Bistrup Frydkjær">
    <meta http-equiv="refresh" content="1200">
</head>
<body>
<nav><ul class="morepink">
    <li><a href="/"title="refresh the page?">Main Menu</a></li>
    <li><a href="PLACEHOLDER"title="PLACEHOLDER">Inspiration</a></li>
    <li><a href="PLACEHOLDER"title="PLACEHOLDER">Om Wishing Well</a></li>
</ul></nav>


<div class="midter-div pink">
    <div id="smal-midterdiv" class="pink">
        <h1>Welcome to Wishing Well</h1><br>
        <br><h2 style="text-align:center;">Save and share your wishing list</h2><br>
        <div id="login-div">
            <br>
            <h2>Subscribe</h2><br>
            <form action="/mypage" method="post">
                <label for="email">E-Mail:</label><br>
                <input type="text" name="email" required maxlength="80" minlength="6" autofocus><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" required maxlength="50" minlength="8"><br>
                <label for="name">Name:</label><br>
                <input type="text" name="name"><br><br>
                <button type="submit">Submit</button>
            </form>
            <br><h2> LOGIN </h2>
            <form action="/login" method="post">
                <label for="email">E-Mail:</label><br>
                <input type="text" name="email" required maxlength="60"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" minlength="8" required><br><br>
                <button type="submit">Submit</button>
                </form>
            <br><br><br>
        </div>
    </div>

    <br><br><br><br><br><br><br>

</div>

<footer class="morepink">

    <p class="footer-text">
        Wishing Well DK<br>
        Overgaden Oven Vandet 44, 1415 København<br>
        wishinwell@justino.dk <br>
        33123456
    </p>
</footer>
</body>
</html>