<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>

<h1> Create Wish </h1>
<form action="/createwish" method="post">
    <label for="description">Wish:</label><br>
    <input type="text" name="description"><br>
    <input type="hidden" name="email" th:value="${email}"><br>
    <button type="submit">Submit</button>
</form>

<h2> My wishes </h2>

<p th:text="${name}"></p>

<table>
    <tr th:each="wish : ${wishList}">
        <td th:text="${wish}"></td>
    </tr>
</table>


<form action="/" method="get">
    <button type="submit"> HOME</button>
</form>


</body>
</html>